body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

html {
  scrollbar-width: thin;
  scrollbar-color: #8892b0 #F5DEB3;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #F5DEB3;
}

::-webkit-scrollbar-thumb {
  background-color: #8892b0;
  border: 3px solid #F5DEB3;
  border-radius: 10px;
}

.notebook-paper {
  background: linear-gradient(to bottom, white 95%, rgba(0, 0, 0, 0.1) 95%, rgba(0, 0, 0, 0.1) 100%);
  background-size: 100% 30px; 
}

.playwrite-cu-main {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

  